<launch>

    <param name="use_sim_time" value="true"/>

    <node pkg="nmea_navsat_driver" type="nmea_topic_driver" name="nmea_topic_driver" output="screen"/>

    <node pkg="imu_gps_fusion" type="imu_gps_fusion_node" name="imu_gps_fusion_node" output="screen">
        <param name="sigma_an" value="1.0e-2"/>
        <param name="sigma_wn" value="1.0e-4"/>
        <param name="sigma_aw" value="1.0e-6"/>
        <param name="sigma_ww" value="1.0e-8"/>
        <param name="imu_freq" value="100"/>
    </node>

    <node pkg="rviz" type="rviz" name="rviz" output="screen" args="-d $(find imu_gps_fusion)/launch/rviz.rviz"/>

</launch>